In [1]:
import pandas as pd
import random

In [2]:
day_df = pd.read_csv('day_0_10', sep = '\t', header = None)

In [3]:
day_df.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1,5.0,110.0,NaN,16.0,NaN,1.0,0.0,14,7,...,d20856aa,b8170bba,9512c20b,c38e2f28,14f65a5d,25b1b089,d7c1fc0b,7caf609c,30436bfc,ed10571d
1,0,32.0,3.0,5.0,NaN,1.0,0.0,0.0,61,5,...,d20856aa,a1eb1511,9512c20b,febfd863,a3323ca1,c8e1ee56,1752e9e8,75350c8a,991321ea,b757e957
2,0,NaN,233.0,1.0,146.0,1.0,0.0,0.0,99,7,...,d20856aa,628f1b8d,9512c20b,c38e2f28,14f65a5d,25b1b089,d7c1fc0b,34a9b905,ff654802,ed10571d
3,0,NaN,24.0,NaN,11.0,24.0,NaN,0.0,56,3,...,1f7fc70b,a1eb1511,9512c20b,NaN,NaN,NaN,dc209cd3,b8a81fb0,30436bfc,b757e957
4,0,60.0,223.0,6.0,15.0,5.0,0.0,0.0,1,8,...,d20856aa,d9f758ff,9512c20b,c709ec07,2b07677e,a89a92a5,aa137169,e619743b,cdc3217e,ed10571d

In [4]:
day_df = day_df.iloc[:, -26:].astype(str)
day_df.fillna('cccccc')
drop_index = []

In [5]:
s = set()

In [6]:
for index, row in day_df.iterrows():
    data_str = '_'.join(list(row))
    if  data_str not in s:
        s.add(data_str)
    else:
        if random.random() > 0.9:
            drop_index.append(index)

In [7]:
drop_index

[16785,
 36673,
 47355,
 49514,
 50786,
 52118,
 56569,
 64830,
 71798,
 76708,
 82522,
 82790,
 83747,
 86927,
 88996,
 91526,
 97049,
 99182,
 99721]

In [8]:
day_df = day_df.drop(drop_index, axis = 0)

In [9]:
day_df.shape

(99981, 26)